html,body{margin:0;padding:0}
body{font: 76%  "Trebuchet MS",arial,sans-serif;}
p{margin:0 10px 10px}
a{padding:5px; text-decoration:none; color:#000000;}

/*******************************************************************************/
input{font: 10pt  "Trebuchet MS",arial,sans-serif;}